{% extends 'base.html' %}

{% block title %}
	Main page
{% endblock %}

{% block body %}

    <div style="text-align: center">
        {% if session.get('role') %}

            <h1>Главная страница</h1>

            {% if session.get('role') == 'admin' %}
                <button>
                    <a href="/admin">Перейти в админку</a>
                </button>

            {% elif session.get('role') == 'implementer' %}
                <button>
                    <a href="/consumers">Перейти к заказчикам</a>
                </button>
            {% elif session.get('role') == 'consumer' %}
                <button>
                    <a href="/implementers">Перейти к исполнителям</a>
                </button>
            {% endif %}
        {% else %}
            <p>
                Зарегистрируйтесь, чтобы получить доступ к функционалу
            </p>
            <h1 style="text-align: center">Главная страница</h1>

        {% endif %}
    </div>

{% endblock %}